.a{
   margin: 30px; 
   transform: skewX(20deg);
   transition: 5s;
}
.b{
    margin: 100px;
  
    transition: 5s;
}
.box{
    display: grid;
    width: 240px;
    height: 240px;
    margin: 100px;
    background-color: lightgreen;
    border-radius: 12px;
    border: solid green;
}
.box:hover{
    transform: rotateZ(60deg);
    background-color: palevioletred;
    transition: 2s;
}
